body {
    display: flex;
    margin: 0;
    font-family: Arial;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #1e293b;
    color: white;
    height: 100vh;
    padding: 20px;
}

.menu {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.menu:hover {
    background: #334155;
}

.menu.active {
    background: #6366f1;
}

.logout {
    margin-top: 50px;
    background: #ef4444;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
    background: #f1f5f9;
}

/* PAGE ANIMATION */
.page {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all 0.4s ease;
    position: absolute;
    width: calc(100% - 260px);
}

.page.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
}